# ==============================================================================
# Python & Byte-Code
# ==============================================================================
__pycache__/
*.py[cod]
*$py.class
*.egg-info/
.eggs/
build/
dist/

# ==============================================================================
# Environment & Package Management
# ==============================================================================
.venv/
env/
venv/
ENV/

# ==============================================================================
# Jupyter
# ==============================================================================
.ipynb_checkpoints

# ==============================================================================
# VS Code
# ==============================================================================
.vscode/

# ==============================================================================
# Testing & Coverage
# ==============================================================================
.htmlcov/
.pytest_cache/
.coverage
.coverage.*
cov.xml